@page
@model Attempt3.Pages.SubscriberPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscriber[0].idClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscriber[0].status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subscriber) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idSubscriber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.idSubscriber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.idSubscriber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
