@model WP.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCustomer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idPurchase">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
