@page
@model Attempt3.Pages.PCPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory[0].idCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory[0].idProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProduct)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idProductCategory">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.idProductCategory">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.idProductCategory">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
