@page
@model Attempt3.Pages.WardrobePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wardrobe[0].idCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wardrobe[0].idProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Wardrobe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idProduct)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idWardrobe">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.idWardrobe">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.idWardrobe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
