@page
@model Attempt3.Pages.ProductPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.idCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.idCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.idSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.idSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.specs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.specs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.idBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.idBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.idClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.idClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.idDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.idDiscount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.idProduct">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
